<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css">
	<script src="https://usetrmnl.com/js/latest/plugins.js"></script>
</head>

<body class="environment trmnl">
	<div class="screen">
		<div class="view view--full">

			<div class="layout">
				<div class="grid">
					<div class="col col--span-1 gap">
						<span class="title">Statistics (month)</span>
						<div class="item">
							<div class="meta"></div>
							<div class="content">
								<span class="title title--small">Rides</span>
								<span class="value value--tnums value--small">42</span>
							</div>
						</div>
						<div class="item">
							<div class="meta"></div>
							<div class="content">
								<span class="title title--small">Average speed</span>
								<span class="value value--tnums value--small">42 km/h</span>
							</div>
						</div>
						<div class="item">
							<div class="meta"></div>
							<div class="content">
								<span class="title title--small">Average duration</span>
								<span class="value value--tnums value--small">42 mins</span>
							</div>
						</div>
						<div class="item">
							<div class="meta"></div>
							<div class="content">
								<span class="title title--small">Average distance</span>
								<span class="value value--tnums value--small">42 km</span>
							</div>
						</div>
						<div class="item">
							<div class="meta"></div>
							<div class="content">
								<span class="title title--small">Longest duration</span>
								<span class="value value--tnums value--small">42 mins</span>
							</div>
						</div>
						<div class="item">
							<div class="meta"></div>
							<div class="content">
								<span class="title title--small">Longest distance</span>
								<span class="value value--tnums value--small">42 km</span>
							</div>
						</div>
					</div>

					<div class="col col--span-2 gap">
						<span class="title">Last trips</span>

						<span class="title title--small">Trajet matinal à vélo <i>(Wed. May 6, 2025 — 18:15)</i></span>
						<div class="grid">
							<div class="col gap">
								<div class="item">
									<div class="meta"></div>
									<div class="content">
										<span class="title title--small">Distance</span>
										<span class="value value--small value--tnums">52 km</span>
									</div>
								</div>
								<div class="item">
									<div class="meta"></div>
									<div class="content">
										<span class="title title--small">Duration</span>
										<span class="value value--small value--tnums">15 mins</span>
									</div>
								</div>
								<div class="item">
									<div class="meta"></div>
									<div class="content">
										<span class="title title--small">Average speed</span>
										<span class="value value--small value--tnums">20 km/h</span>
									</div>
								</div>
								<div class="item">
									<div class="meta"></div>
									<div class="content">
										<span class="title title--small">Altitude difference</span>
										<span class="value value--small value--tnums">↗ 6 m</span>
									</div>
								</div>
							</div>

							<div class="col gap">
								<img width="200px" class="image-dither"
									src="https://geovelo-backend-sitemedia-prod-user-trace-preview-no-limit.s3.fr-par.scw.cloud/user-trace-preview/no-limit/preview_32861262.png">
							</div>
						</div>

						<div class="border--h-5"></div>

						<div class="list" data-list-limit="true" data-list-max-height="100"
							data-list-hidden-count="false" data-list-max-columns="2">
							<div class="item">
								<div class="meta"></div>
								<div class="content">
									<span class="title title--small">Trajet matinal à vélo</span>
									<span class="description">
										5 km — 5 min — 5 km/h average
									</span>
									<div class="flex gap--xsmall">
										<span class="label label--small label--underline">
											Wed. May 5, 2025 — 19:27
										</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="meta"></div>
								<div class="content">
									<span class="title title--small">Trajet matinal à vélo</span>
									<span class="description">
										5 km — 5 min — 5 km/h average
									</span>
									<div class="flex gap--xsmall">
										<span class="label label--small label--underline">
											Wed. May 5, 2025 — 19:27
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="title_bar">
				<img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
				<span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
				<span class="instance">Gilles</span>
			</div>
		</div>
	</div>
</body>

</html>